/*---------browser---------- */

a{
	text-decoration: none;
}

body{
	font-size: 16px;
	font-family: 'Raleway Light'; 
}

.container{
	width: 1240px;
	margin: 0 auto;
}

/*--------------------------------------------
		Header Section/Logo Menu Cart
----------------------------------------------*/
section.logo-menu-cart {
	display: flex;
    justify-content: space-between;
}

.logo {
	width: 20%;
}

.logo img{
	width: 16em;
}

nav{
	flex-grow: 0.3;
}

ul.menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-top: 30px;
}

.menu li a{
	text-transform: uppercase;
	color: red;
}

/*--------------------------------------------
			Banner Section
----------------------------------------------*/

section.banner {
	background: url(../img/flower-bkgd.jpg) no-repeat;
    background-size: cover;
    height: 38em;
    position: relative;
    filter: brightness(80%);
}

div.banner-txt {
	position: absolute;
    top: 33%;
    left: 29%;
    color: #fff;
    line-height: 1.5;
    text-align: center;
    text-shadow: 2px 1px 0px #242424;
}
		.banner-txt p {
			font-family: "Raleway"; 
			font-size: 14px;
			font-weight: bold;
		}

		.banner-txt h1 {
			font-family:'Playfair Display', serif;
			font-size: 3.4em;
		}

div.banner-girl {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 18%;
   	filter: brightness(95%);
}
		.banner-girl img {
			width: 100%;
		}

/* -----------------------------------------
			Hand-Crafted Styles Text & 
			Most Loved Products Text
------------------------------------------ */
.handCraft-txt{
	height: auto;
	text-align: center;
}

	.handCraft-txt div{
	    width: 50%;
    	margin: auto;
	}

	.handCraft-txt h4{
		padding-top: 30px;
	    line-height: 2.5;
	    font-family:'Playfair Display', serif;
	    font-style: italic;
	    font-size: 1.5em;
	}

	.handCraft-txt span{
		font-family:'Playfair Display', serif;
		font-style: normal;
		font-weight: bold;
		font-size: 1em;
	}

	.handCraft-txt p{
		font-family:'Raleway';
		line-height: 1.5;
		font-size: 0.9em;
		color:#969696;
		margin-bottom: 3em;
	}



/* -----------------------------------------
			Category Gallery
------------------------------------------ */
.gallery{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.box{
	flex: 1.49;
   	width: 427px;
    height: 300px;
   	margin:2px;
    position: relative;
}

.box img{
	width: 100%;
	height: 100%;
	filter: brightness(80%);
}

.box p{
	position: absolute;
	top: 41%;
	left: 43%;
	font-family: "Raleway";
    font-weight: 500;
 }
 
.box a{
	color: #fff;
	font-size: 1.5em;
	z-index: 2;
}

/* -----------------------------------------
			Carousel-title
------------------------------------------ */
.carousel-title{

}


/* -----------------------------------------
			Carousel
------------------------------------------ */
.main-carousel{
	height: 25em;
	margin-bottom: 50px;
	width: 100%;
}

.carousel-cell {
	width: 25%;
}

.carousel-cell img{
  	width: 100%;
 }

.despt-box{
	width: 100%;
	height: 100px;
	line-height: 1.5;
	text-align: center;
}

/* ------------footer styling-------- */

footer.contact-container {
	width: 100%;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.contact-container >div {
	color:#fff;
	padding: 30px;
}

.contact p {
	font-family: 'Playfair Display', serif;
	
}

footer a{
	color:#fff;
}

.social ul{
	list-style: none;
}


